* {
  box-sizing: border-box;
}

:root {
  --in-content-box-border-color: var(--grey-90-a40);
  --in-content-box-background: #fff;
  --in-content-border-focus: #0a84ff;
  --in-content-link-color: #0a8dff;
  --in-content-link-color-hover: #0060df;
  --in-content-link-color-active: #003eaa;
  --grey-90-a40: rgba(12, 12, 13, 0.4);
}

body {
  color: #0c0c0d;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 15px;
  margin: 0 7px;
}

h1 {
  font-size: 22px;
  font-weight: 300;
  margin: 0 0 10px 0;
}

h2 {
  font-size: 17px;
  font-weight: 600;
  margin: 0;
}

a {
  color: var(--in-content-link-color);
  font-size: inherit;
  text-decoration: none;
}

a:active {
  color: var(--in-content-link-color-active);
}

a:hover {
  color: var(--in-content-link-color-hover);
  text-decoration: underline;
}

p {
  margin: 0 0 15px 0;
}

hr {
  border-style: solid none none none;
  border-color: #d7d7db;
  margin: 0 0 15px 0;
}

input[type="checkbox"] {
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  padding: 1px;
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 2px;
  margin: 0;
  margin-inline-end: 5px;
  vertical-align: -5px;
  background-color: var(--in-content-box-background);
  background-position: center;
  background-repeat: no-repeat;
}

input[type="checkbox"]:not(:disabled):hover {
  border-color: var(--in-content-border-focus);
}

input[type="checkbox"]:checked {
  background-image: url("../icons/check.svg");
}

input[type="checkbox"]:disabled {
  opacity: 0.5;
}
.disabled {
  opacity: 0.4;
}

input[type="radio"] {
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 50%;
  margin: 0;
  margin-inline-end: 5px;
  vertical-align: -5px;
  background-color: var(--in-content-box-background);
}

input[type="radio"]:not(:disabled):hover {
  border-color: var(--in-content-border-focus);
}

input[type="radio"]:checked {
  background-image: url("../icons/radio.svg");
}

.indent {
  margin-left: 30px;
}

.info {
  border-radius: 6px;
  background-color: #ededf0;
  background-image: url("../icons/info.svg");
  background-repeat: no-repeat;
  background-position: 10px 11px;
  padding: 10px 20px 11px 32px;
  margin: 0 0 15px 0;
}

.info p {
  margin: 10px 0 0 0;
}

.key {
  border: 1px solid var(--in-content-box-border-color);
  border-bottom-width: 2px;
  border-radius: 2px;
  padding: 0 5px 1px 5px;
  font-size: 13px;
}
